/_build/

/cover/

/deps/

/doc/

/.fetch

erl_crash.dump

*.ez

boilerplate-*.tar

/priv/static/
/tmp/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml